<footer class="mt-auto text-white-50">
    <p>Username and password authentication <a href="https://akshaymemail.github.io/mycv"
            class="text-white">SECRETS</a>, by <a href="https://github.com/akshaymemail" class="text-white">@akshay</a>.
    </p>
</footer>
</div>

</body>

</html>